@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/SOFIA-PRO-REGULAR-AZ.OTF') format('truetype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/SOFIA-PRO-MEDIUM-AZ.OTF') format('truetype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/SOFIA-PRO-BOLD-AZ.OTF') format('truetype');
}
